/*menu*/
/*.nav.nav__pc {
  display: flex;
  align-items: center;
  background: #F0D6E4;
  font-weight: bold;
  font-size: 20px;
  height: 100px;  
  width: 100%;
}

.nav.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav.nav__list li{
  font-family: 'Lobster';
  height: 100px;
  width: 150px;
  text-align: center;
  line-height: 100px;
}
.nav.nav__pc .nav__list li:hover{
  background-color: #198754;
  transition: ease-in 0.9s;
  -moz-transition:ease-in 0.9s;
  -webkit-transition:ease-in 0.9s;
}

.nav.nav__link {
  text-decoration: none;
  color: #198754;
}
.nav.nav__pc .nav__list li a{
  display: block;
}
.nav.nav__pc .nav__list li:hover a {color:#fff;}

/*mobile*/
/*.nav.nav_bar-btn {
  width: 28px;
  height: 28px;
  display: none;
  position: fixed;
  top: 0;
  right: 5%;
  bottom: 0;
  color: #666;
  line-height: 100px;
}


.nav.nav__overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 888;
}

.nav.nav__mobile {
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color:  #DCEFF9;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.5s, opacity linear 0.5s ;
}

.nav.nav__mobile-list {
  text-align: center;
  margin-top: 20%;
  list-style: none;
  padding: 0;
  border-top: 2px solid #666;
}

.nav.nav__mobile-link{
  text-decoration: none;
  font-weight: bold;
  color: green;
  display: block;
  font-size: 25px;
  padding: 30px 0px;
}

.nav.nav__mobile-close {
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25px;
  height: 25px;
}
.nav.nav__input {
  display: none;
}
.nav.nav__input:checked ~ .nav__overlay {
  display: block;
}
.nav.nav__input:checked ~ .nav__mobile {
  transform: translateX(0%);
  opacity: 1;
  z-index: 999;
}

@media (max-width: 1023px) {
  .nav_bar-btn {
    display: block;
    margin-left: 95%;
  }

  .nav__list {
    display: none;
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/


/*.menu{
background: #DCEFF9;
}

#menu{
  background: #F0D6E4;
  font-weight: bold;
  font-size: 20px;
  height: 100px;  
}

#menu #navbarSupportedContent ul li{

  font-family: 'Lobster';
  height: 100px;
  width: 110px;
  text-align: center;
  line-height: 90px;
}

#menu  #navbarSupportedContent ul li a{
  font-weight: bold;
}

#menu ul li a{
  color: #198754;
}

#menu ul li a:hover{
  color: white;
}

#menu  #navbarSupportedContent ul li:hover{
  background: #198754;
  transition: ease-in 0.5s;
  -moz-transition:ease-in 0.5s;
  -webkit-transition:ease-in 0.5s;
}*/

.container{
  margin-top: 8%;
}
.container .start {
  text-align: center;
}
.container  .start button{
  width: 150px;
  height: 100px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
.container .row{
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 18px;
}

/*Footer*/

.footer {
  background: #F0D6E4;
}

.footer h2{
  color:#198754 ;
}

.footer .container .row{
  padding-top: 50px;
  margin: 0px;
}

.footer .container .row a{
  text-decoration: none;
  color:black;
}
.footer .container .row a:hover{
  
  color:#198754;
}



/*Bài thi */
.main_bt .container #start {
  text-align: center;
}
.main_bt .container #start button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  font-weight: 500;
}

.title {
  text-align: center;
  margin:0 0 20px 0;
  display: none; 
  color: #198754;
}
.title div {
  font-size: 20px;
}

.questions {
  text-align: center;
}
.questions hr{
  margin:auto;
  height: 3px;
  color: black;
  margin-top: 10px;
  margin-bottom: 50px;
}
.questions #quest{
  display: none;
  height: 600px;
  margin: 0 20% 20px 20%;
  font-size: 13px;
  padding-top: 50px ;
  border: 2px solid black;
  overflow: auto;  
}

.question #luachon fieldset {
  margin: 20px 0px;
}
.questions button{
  width: 150px;
  display: none;
  padding: 20px;
  font-weight: bold;

}

#btnFinish{
  width: 150px;
  height: 100px;
  border :2px solid red;
  font-size: 20px;
  font-weight: bold;
  border-radius:20px;
}

/*Reponsive*/
@media screen and (max-width: 1023px){
  .container .questions #quest {
    margin: 0 -5% 20px -5%;
  }
  .container .questions #quest #luachon h5{
    font-size: 30px;
  }
  .container .questions #quest #luachon fieldset{
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px){
  .container .questions #quest {
    
  }
}